<%= stylesheet_link_tag    'pages/001_signup', media: 'all' %>

  <div class="login-container">
    <h1>Join our community</h1>
    <div class="login-container__text">
      Lorem bacon something something let's go fishing
    </div>
    <div id="signup_form">
      <input id="email"
             class="login-container__field"
             type="email"
             placeholder="Email Address"
             value="">
      <input id="pw"
             class="login-container__field"
             type="password"
             placeholder="Password"
             value="">
      <input id="pw_confirmation"
             class="login-container__field"
             type="password"
             placeholder="Confirm Password"
             value="">
      <button id="submit_button"
              class="login-container__submit"
              type="">
              Sign Up
      </button>
    </div>
  </div>
