<%= stylesheet_link_tag    'pages/003_landingpage', media: 'all' %>


<div class="topbar">
  <div class="logo">

  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Flights</a></li>
      <li><a href="#">Hotels</a></li>
      <li><a href="#">Packages</a></li>
    </ul>
  </div>
</div>

<div class="slogan">
  Oh, the places you'll go.
</div>

<div class="container">
  <input class="field" type="text" name="" value="" placeholder="Where to?">
  <button class="button" type="button" name="button">Let's go</button>
</div>
